<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Petit Zoo</title>
</head>
<body>
    <h1>Animaux</h1>
    <img src="https://petitzoo.s3.eu-west-3.amazonaws.com/animaux/ornythorinque.webp" alt="ornythorinque">
    <img src="https://petitzoo.s3.eu-west-3.amazonaws.com/animaux/panda.webp" alt="Panda">
    <img src="https://petitzoo.s3.eu-west-3.amazonaws.com/animaux/tigre.webp" alt="Tigre">

    <h1>Décors</h1>
    <img src="https://petitzoo.s3.eu-west-3.amazonaws.com/decors/foret_bambou.jpg" alt="foret_bambou">
    <img src="https://petitzoo.s3.eu-west-3.amazonaws.com/decors/foret_siberie.jpg" alt="foret_siberie">
    <img src="https://petitzoo.s3.eu-west-3.amazonaws.com/decors/riviere_australie.jpg" alt="riviere_australie">
</body>
</html>